body {
    background-color: whitesmoke;
    position: sticky;
	margin: 0;
    padding: 0;
}

html, body {
    scroll-behavior: smooth;
}

a {
    color: #173753;
    text-decoration: none;
    font-family: monospace, sans-serif;
    font-size: 27px;
}

a:hover {
    color: lightblue;
    transition: color 0.5s ease;
     font-size: 27px;
     transition: color 0.5s ease, font-size 0.5s ease;
}

nav {
 background-color: #748CAB;
 padding: 0.6%;
 padding-right: 60%;
}

.home {
   
 left: 0.0%;
    
}

.aboutme {
  
    left: 13%;
   
}

.projects {
   
    left: 27%;
   
}

.contact {
    
    left: 90%;
    
}

.section5 {
    color: #173753;
    font-family: monospace, sans-serif;
    font-size: 25px;
    margin-left: 200px;
    margin-top: 340px;
}


p {
    color: #1B4353;
    font-family: monospace, sans-serif;
}

.section6 p {
font-size: 30px;
 margin-top: 750px;
 margin-left: 10%;
}

nav {
    position: fixed;
    top: 0;

    z-index: 1000;
}

.WAIT img {
    margin-bottom: 70%;
    margin-left: 62%;
    width: 600px;
}

.WHAT img {
   margin-left: 58%;
   margin-top: -25%;
   width: 500px;
   border-radius: 200px;

}



.section7 {
  box-shadow: 5px 1px 60px gray;
  width: 30%;
  position: relative;
  top: 500px;
  left: 34%;
  background-color: white;
  border-radius: 15px;
  
}


.section7 h3 {
  font-family: monospace, sans-serif;
  padding: 1%;
  position: relative;
  left: 31%;
}

.section7 img {
  border-radius: 10px;
  position: relative;
  top: -9px;
  left: 2.2%;
  width: 95%;
  background-color: white;
  
}

.section7 p {
  padding: 1%;
  position: relative;
  left: 1.1%;
}
