body {
    background-color: whitesmoke;
    position: sticky;
	margin: 0;
    padding: 0;
}

html, body {
    scroll-behavior: smooth;
}

a {
    color: #173753;
    text-decoration: none;
    font-family: monospace, sans-serif;
    font-size: 30px;
}

a:hover {
    color: #2892D7;
    transition: color 0.5s ease;
     font-size: 35px;
     transition: font-size 0.5s ease;
}

.home {
   
 left: 3%;
    
}

.aboutme {
  
    left: 13%;
   
}

.projects {
   
    left: 27%;
   
}

.contact {
    
    left: 90%;
    
}

.section5 {
    color: #173753;
    font-family: monospace, sans-serif;
    font-size: 25px;
    margin-left: 200px;
    margin-top: 340px;
}


p {
    color: #1B4353;
    font-family: monospace, sans-serif;
}

.section6 p {
font-size: 30px;
 margin-top: 750px;
 margin-left: 10%;
}

nav {
    position: fixed;
    top: 0;

    z-index: 1000;
}

.WAIT img {
    width: 600px;
     margin-top: -90%;
     margin-left: 62%;
   
}

.WHAT img {
   margin-left: 58%;
   margin-top: -25%;
   width: 500px;
   border-radius: 200px;

}

.WHAT:hover img {
    width: 520px;
    transition: width 0.3s ease;
    box-shadow: 3px 4px 20px black;
}

.section7 {
  position: relative;
}

.project-details {
  display: none;
  position: absolute;
  top: calc(100% + 10px);
  /* Adjust the spacing between container and details */
  left: 20%;
  transform: translateX(-50%);
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 500px;
  /* Adjust the width as needed */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.section7:hover .project-details {
  display: block;
  opacity: 1;
  transform: translate(-50%, 0);
}

.project-details img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.project-details p {
  color: #1b4353;
  font-family: monospace, sans-serif;
}

.section7 h3 {
  background-color: #173753;
  font-family: monospace,sans-serif;
  color: white;
  text-align: center;
  padding: 15px;
  width: 40%;
  margin: 0 auto 20px;
  /* Add margin to separate it from the project details */
  margin-top: 20%;
  margin-left: 3%;
}

